/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #000000;
  background-color: #D3D3D3;
}

/* Container */
.container {
  width: 90%;
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}

/* Header */
header {
  background-color: rgb(255, 255, 255);
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #000000;
  position: sticky;
  top: 0;
  z-index: 2;
}

.logo img {
  max-width: 250px;
  min-width: 200px;
  transition: transform 0.2s ease;
}

.logo {
 display: contents;
}

.logo img:hover {
  transform: scale(1.05) translate(-2px, -2px);
}

.menu_container {
  display: flex;
  align-items: flex-end;
  flex-direction: column-reverse;
  justify-content: space-around;
  gap: 1em;
}


nav {
  list-style: none;
  display: flex;
  gap: 15px;
}

.navigation ul {
  list-style: none;
  width: max-content;
  display: flex;
  gap: 15px;
}

.navigation a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.navigation a:hover {
  text-decoration: underline;
}



.cta .btn {
  background-color: #333333;
  color: #FFFFFF;
  padding: 10px 20px;
  width: max-content;
  display: block;
  box-shadow: 0 4px 8px 0 rgba(255, 130, 0, 0.5);
  text-decoration: none;
  background-color: transparent; /* Makes the background transparent */
  border: 1.5px solid transparent; /* Border width */

  background-image: linear-gradient(#FF8200, #ffaf59), /* For the border */
                    linear-gradient(135deg, #FFE5B4, #FF8200); /* Button background */
  background-origin: border-box;
  background-clip: padding-box, border-box;
  transition: all 0.3s ease;
  border-radius: 8px;
}


.btn:hover {
  padding: 12px 22px; /* Optional hover effect */
}


.contact-info {
  font-size: 0.9em;
  text-align: right;
  display: flex;
  justify-content: right;
  width: 90%;
  max-width: 1200px;
  align-items: center;
  gap: 10px;
}

.contact-info .desktop-contact {
  display: flex;
  gap: 10px;
  padding-right: .5rem;
}

.contact-info .desktop-contact a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
}

.contact-info .desktop-contact a img {
  width: 16px;
  height: 16px;
}

.contact-info .mobile-contact {
  display: none; /* Hidden on desktop */
  gap: 1rem;
}

.contact-info .mobile-contact a img {
  width: 24px;
  height: 24px;
}


.contact-info a {
  color: rgb(0, 0, 0);
}

/* Banner */
.banner {
  position: relative;
  text-align: center;
  color: #FFFFFF;
  text-align: left;
}

.banner-text p {
  color: #FF8200;
  
}
.banner-img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  opacity: 0.8;
}

.banner-text {
  position: absolute;
  color: #FF8200;
  width: 90%;
  max-width: 1200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

/* Default Button with Gradient Colors */
.banner-cta {
  font-size: 1.2em;
  color: #FFFFFF;
  padding: 10px 20px;
  text-decoration: none;
  border: 1.5px solid transparent;
  border-radius: 8px;
  transition: all 0.3s ease;

  /* Gradient Background */
  background-image: linear-gradient(#FF8200, #ffaf59); /* Gradient colors */
  background-origin: border-box;
  background-clip: padding-box, border-box;

  box-shadow: 0 4px 8px 0 rgba(255, 130, 0, 0.5);
}

.banner-cta:hover {
  padding: 12px 22px;
  background-image: linear-gradient(#CC6A00, #E69545); /* Darkened gradient */
  box-shadow: 0 4px 8px 0 rgba(204, 106, 0, 0.6); /* Slightly darker shadow */
}

/* Alternate Button with Blurred and Darkened Background */
.banner-cta-alt {
  font-size: 1.2em;
  color: #FFFFFF;
  padding: 10px 20px;
  margin: 1.5rem;
  text-decoration: none;
  border: 1.5px solid rgba(255, 255, 255, 0.5); /* Subtle border */
  border-radius: 8px;
  transition: all 0.7s ease;

  /* Blurred and Darkened Background */
  background: rgba(0, 0, 0, 0.4); /* Dark overlay */
  backdrop-filter: blur(10px); /* Applies blur effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5); /* Shadow effect */
}

.banner-cta-alt:hover {
  padding: 12px 22px;
  background: rgba(0, 0, 0, 0.6); /* Slightly darker on hover */
}


.banner h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 4em;
  background-color: #0000007f;
  width: fit-content;
  padding: 1.5rem;
}

.banner p {
  padding: 1.5rem;
  font-size: x-large;
  background-color: #0000007f;
  width: fit-content;
}

/* Main Content */
main {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

section h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.8em;
  color: #4A4A4A;
  margin-bottom: 10px;
}

section p {
  margin-bottom: 2rem;
  color: #333333;
}

section .btn {
  background-color: #333333;
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
  border-color: #FF8200;
}

section .btn:hover {
  background-color: #6A7FDB;
}

/* Footer */
footer {
  background-color: #4A4A4A;
  color: #FFFFFF;
  padding: 20px 0;
  text-align: center;
}

.footer-logo img {
  max-width: 100px;
  min-width: 100px;
}

.footer-nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 15px;
}

.footer-nav a {
  color: #000000;
  text-decoration: none;
}

.footer-contact {
  font-size: 0.9em;
  margin-top: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    text-align: center;
  }

  .cta {
    width: 90%;
  }

  .navigation ul {
    flex-direction: column;
    gap: 10px;
  }



  .banner h1 {
    font-size: 2em;
    width: fit-content;
  }

  .banner p {
    font-size: 1em;
    width: fit-content;
  }

  main {
    padding: 20px 0;
  }

  .footer-nav ul {
    flex-direction: column;
    gap: 10px;
  }

  .cta .btn {
    background-color: #333333;
    color: #FFFFFF;
    padding: 10px 20px;
  
    box-shadow: 0 4px 8px 0 rgba(255, 130, 0, 0.5);
    text-decoration: none;
    background-color: transparent; /* Makes the background transparent */
    border: 1.5px solid transparent; /* Border width */
  
    background-image: linear-gradient(#FF8200, #ffaf59), /* For the border */
                      linear-gradient(135deg, #FFE5B4, #FF8200); /* Button background */
    background-origin: border-box;
    background-clip: padding-box, border-box;
    transition: all 0.3s ease;
    border-radius: 8px;
    width: 100%;
    display: block;
  }
}

@media (max-width: 480px) {
  .banner h1 {
    font-size: 1.8em;
  }

  .cta {
  width: 90%;
}

  .banner p {
    font-size: 0.9em;
  }

  .cta .btn, section .btn {
    padding: 8px 15px;
    font-size: 0.9em;
  }

  .cta .btn {
    background-color: #333333;
    color: #FFFFFF;
    padding: 10px 20px;
    
    box-shadow: 0 4px 8px 0 rgba(255, 130, 0, 0.5);
    text-decoration: none;
    background-color: transparent; /* Makes the background transparent */
    border: 1.5px solid transparent; /* Border width */
  
    background-image: linear-gradient(#FF8200, #ffaf59), /* For the border */
                      linear-gradient(135deg, #FFE5B4, #FF8200); /* Button background */
    background-origin: border-box;
    background-clip: padding-box, border-box;
    transition: all 0.3s ease;
    border-radius: 8px;
    width: 100%;
    display: block;
  }

  .banner h1 {
    padding-bottom: 0;
  }
}


/* Hamburger Button Styles */
.hamburger {
  display: none; /* Hidden by default */
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.hamburger span {
  display: block;
  height: 3px;
  width: 30px;
  background: rgb(0, 0, 0);
  border-radius: 3px;
  transition: all 0.3s ease;
}

/* Navigation Menu - Hidden by Default on Mobile */
.navigation {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.navigation ul {
  display: flex;
  gap: 15px;
  list-style: none;
}

.navigation.active {
  display: flex;
  flex-direction: column;
  background: #000000;
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #FFFFFF;
  z-index: 10;
}

.navigation ul li {
  margin: 10px 0;
}

.navigation a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
}

.navigation a:hover {
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .navigation {
    display: none; /* Hidden by default */
    flex-direction: column;
  }

  .navigation.active {
    display: flex; /* Displayed when active */
  }

  .contact-info .desktop-contact {
    display: none; /* Hide text-based version on mobile */
  }

  .contact-info .mobile-contact {
    display: flex; /* Show icon-based version on mobile */
  }
}


